<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employees</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light p-1">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../static/img/iconfinder_Asset_45_7295022.png"
                                                      th:src="@{/img/iconfinder_Asset_45_7295022.png}" width="35px"></a>
                <button class="navbar-toggler btn-sm" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="departments.html" th:href="@{/departments}">Departments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="employees.html" th:href="@{/employees}">Employees</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <nav id="main-header" class="navbar navbar-light bg-light text-dark py-1 mb-3">
            <div class="container-fluid">
                <span class="navbar-brand text-uppercase">Employees</span>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="employee.html" th:href="@{/employee}" class="btn btn-light" title="Add employee">
                            <i class="bi-plus"></i> <span class="d-none d-sm-inline">Add</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <section id="id-departments">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <table class="table table-striped">
                            <thead>
                            <tr class="table-dark">
                                <th>Name</th>
                                <th>Email</th>
                                <th>Salary</th>
                                <th>Department</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr >
                                <td>Ivan Ivanov</td>
                                <td>ivanov@mail.com</td>
                                <td>1000</td>
                                <td>IT</td>
                                <td class="text-end">
                                    <a class="btn-sm btn-outline-secondary" href="department.html" title="Edit employee">
                                        <i class="bi-pen"></i>&nbsp;<span class="d-none d-md-inline">Edit</span>
                                    </a>
                                    <span data-toggle="modal" data-target="#deleteModal">
                                    <a class="btn-sm btn-outline-secondary"  href="#" >
                                        <i class="bi-x"></i><span class="d-none d-md-inline">Delete</span>
                                    </a>
                                </span>
                                </td>
                            </tr>

                            <tr >
                                <td>Petr Petrov</td>
                                <td>petrov@mail.com</td>
                                <td>800</td>
                                <td>IT</td>
                                <td class="text-end">
                                    <a class="btn-sm btn-outline-secondary" href="department.html" title="Edit employee">
                                        <i class="bi-pen"></i>&nbsp;<span class="d-none d-md-inline">Edit</span>
                                    </a>
                                    <span data-toggle="modal" data-target="#deleteModal">
                                    <a class="btn-sm btn-outline-secondary"  href="#" >
                                        <i class="bi-x"></i><span class="d-none d-md-inline">Delete</span>
                                    </a>
                                </span>
                                </td>
                            </tr>

                            <tr >
                                <td>Aleh Yaskovich</td>
                                <td>yaskovich@mail.com</td>
                                <td>1000</td>
                                <td>MANAGEMENT</td>
                                <td class="text-end">
                                    <a class="btn-sm btn-outline-secondary" href="department.html" title="Edit employee">
                                        <i class="bi-pen"></i>&nbsp;<span class="d-none d-md-inline">Edit</span>
                                    </a>
                                    <span data-toggle="modal" data-target="#deleteModal">
                                    <a class="btn-sm btn-outline-secondary"  href="#" >
                                        <i class="bi-x"></i><span class="d-none d-md-inline">Delete</span>
                                    </a>
                                </span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">DELETE EMPLOYEE</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    Содержимое модального окна 1...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="#" id="deleteUrl" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <hr/>
        <p class="text-center">&copy; 2021</p>
    </footer>

    <script src="../static/js/jquery-3.2.1.js"
            th:src="@{/js/jquery-3.2.1.js}"></script>
    <script src="../static/js/popper.min.js"
            th:src="@{/js/popper.min.js}"></script>
    <script src="../static/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>

    <script>
			// при открытии модального окна
			$('#deleteModal').on('show.bs.modal', function (event) {
			// получить кнопку, которая его открылa
			var button = $(event.relatedTarget)
			// извлечь информацию из атрибутов data-name и data-id
			var name = button.data('name')
			var id = button.data('id')
			// вывести эту информацию в модальное окно
			$(this).find('.modal-body').text('Do you really want to delete employee "'+name+'"?');
			$(this).find('#deleteUrl').attr('href', '/employee/'+id+'/delete');
			})
		</script>

</body>
</html>