<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light p-1">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../static/img/iconfinder_Asset_45_7295022.png"
                                                      th:src="@{/img/iconfinder_Asset_45_7295022.png}" width="35px"></a>
                <button class="navbar-toggler btn-sm" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="departments.html" th:href="@{/departments}">Departments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="employees.html" th:href="@{/employees}">Employees</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <nav id="main-header" class="navbar navbar-light bg-light text-dark py-1 mb-3">
            <div class="container-fluid">
                    <span class="navbar-brand text-uppercase"
                          th:text="${isNew} ? 'New employee' : 'Edit employee'">Employee</span>
            </div>
        </nav>

    </header>

    <section>

        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 col-sm-12">
            <form class="ms-3" id="employeeForm"
                  th:object="${employee}"
                  action="employees.html"
                  th:action="@{${#httpServletRequest.servletPath}}"
                  th:method="@{post}">
                <input 	id="field_id"
                          type="hidden"
                          th:field="*{id}" />
                <div class="mb-2 me-3">
                    <label for="field_firstName" class="form-label">Employee first name:</label>
                    <input class="form-control" id="field_firstName"
                           type="text"
                           th:field="*{firstName}"/>
                </div>
                <div class="mb-2 me-3">
                    <label for="field_lastName" class="form-label">Employee last name:</label>
                    <input class="form-control" id="field_lastName"
                           type="text"
                           th:field="*{lastName}" />
                </div>
                <div class="mb-2 me-3">
                    <label for="field_email" class="form-label">Employee email:</label>
                    <input class="form-control" id="field_email"
                           type="email"
                           th:field="*{email}" />
                </div>
                <div class="mb-2 me-3">
                    <label for="field_salary" class="form-label">Employee salary:</label>
                    <input class="form-control" id="field_salary"
                           type="text"
                           th:field="*{salary}" />
                </div>
                <div class="mb-4 me-3">
                    <label for="field_department" class="form-label">Employee department:</label>
                    <select class="form-select" aria-label="Default select example" id="field_department"
                            th:field="*{departmentId}">
                        <div th:each="department : ${departments}">
                            <option value="1" th:attr="value=${department.id}"
                                    th:text="${department.name}">One</option>
                        </div>
                    </select>
                </div>
                <a href="employees.html" th:href="@{/employees}" class="btn btn-secondary me-2">Cancel</a>
                <button type="submit" class="btn btn-primary" >Save</button>


            </form>
        </div>

    </section>

    <footer>
        <hr/>
        <p class="text-center">&copy; 2021</p>
    </footer>

    <script src="../static/js/jquery-3.2.1.js"
            th:src="@{/js/jquery-3.2.1.js}"></script>
    <script src="../static/js/popper.min.js"
            th:src="@{/js/popper.min.js}"></script>
    <script src="../static/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>